<div id="<%= dom_id keyword %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= keyword.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Total ads:</strong>
    <%= keyword.total_ads %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Total links:</strong>
    <%= keyword.total_links %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Html cache:</strong>
    <%= keyword.html_cache %>
  </div>
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= keyword.user_id %>
  </div>
</div>
